body{
    background-color: #271c19;
    color: #fde6d9;
    font-size: 18px;
    margin: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}



/*header*/


#contenedor{
    background-color: #ffc0ad;
    border-radius: 20px;
    padding-left: 20px;
    text-align:center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    
    "titulo"
    "container-fluid"

    ;
}


#titulo{
    font-size: 40px;
    color: #55423d;
    font-family: 'Roboto Condensed', sans-serif;
}



/*menú*/


nav ul{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: #ffc0ad;
    border-radius: 8px;
    padding: 10px;
    
}


nav ul li a{
    color: #140d0b;
    font-size: 25px;
}



/*sobre mi*/


#parrafos{
    color: #fde6d9;
    font-size: 25px;
    text-align:justify;
    padding-left: 20px;

}


.dibujos{
    width: 300px;
}


.a{
    background: linear-gradient(to right, #ffc0ad, #d28593);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;  
}


.dibujos{
    display: flex;
    align-items: center;
}


/*contacto*/

#contacto{
    background: linear-gradient(to right, #ffc0ad, #d28593);
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}


.lista__contacto{
    color:#271c19;
    list-style: none;
}


.texto__contacto{
    color:#4e3121;
}


#ig{
    color:#271c19;
}


#icon{
    width: 150px ;
}


.texto{
    border-radius: 28px;
    border-color: #4e3121;
    font-size: 16px;
    padding: 9px 45px;
}


/*botón*/

button{
    font-size: 20px;
    background-color: #55423d;
	border-radius:28px;
    border: none;
	display:block;
    position: relative;
    width: 200px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    text-align: center;
	font-size:17px;
	padding:10px 20px;
	text-decoration:none;
    margin: 0 auto;
	animation: boton 3s infinite;
}


@keyframes boton {
    0% {top: 0px;}
    50% {top: 10px; background-color: #271c19}
    100%{top: 0px;}
}


/*footer*/

footer{
    padding-top: 50px;
    text-align: center;
}




/*responsive en "sobre mí"*/


@media only screen and (min-width: 1024px){
    .a{
        display: flex;
        gap: 10px;
        flex-direction: row;
        align-items:stretch;
        justify-content: space-around;
        padding: 30px;
    }


    #contenedor{
        background-color: #ffc0ad;
        border-radius: 20px;
        padding-left: 20px;
        text-align:left;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 1fr;
        grid-template-areas: 
        
        "titulo container-fluid"
    
        ;
    }


    #icon{
        width: 300px ;
    }
}